# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack
#docker-compose.yml
#serverless.yml

.build
db-data
/src/config.ts
/src/utils/secret.ts